<div class="quasar-layout column full-height">

  <!-- required, can be empty -->
  <div class="quasar-layout-header non-selectable">
    <!--
    <div class="row items-center" style="">
      <i class="button quasar-drawer-toggle">menu</i>
      <p class="auto">Title</p>
      <i class="button">more_vert</i>
    </div>
    -->
  </div>

  <!-- required -->
  <div class="quasar-layout-content row full-height">

    <!-- optional: place <quasar-drawer> besides .quasar-page-container -->

    <!-- required -->
    <div class="auto quasar-page-container">
      <!-- 'smart-container' class can be omitted -->
      <div class="quasar-page smart-container"></div>
    </div>

  </div>

  <!-- required, can be empty -->
  <div class="quasar-layout-footer">
    <!-- rows are same as for header -->
  </div>

</div>
